// colors
$accentColor = #e94a45
$textColor = #222222
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961
$secondaryAccentColor = #d5d5d5
$backgroundColor = #f3f3f3

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 700px
$homePageWidth = 960px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px
